<template>
  <div>
    <div>{{name}}</div>
    <div class="container">
      <p class="txtCenter">
        <input type="text" placeholder="Username" v-model="newUser.username" />
        <input type="text" placeholder="Email" v-model="newUser.email" />
        <button class="add" @click="addNewUser()">add</button>
      </p>
      <br />
      <hr />
      <br />
      <table>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr v-for="(user, index) in users" :key="index">
          <td>
            <input
              type="text"
              v-if="selectedUser.key ===user.key"
              v-model="selectedUser.val.username"
            />
            <p v-else>{{user.val.username}}</p>
          </td>
          <td>
            <input type="text" v-if="selectedUser.key ===user.key" v-model="selectedUser.val.email" />
            <p v-else>{{user.val.email}}</p>
          </td>
          <td>
            <button
              class="edit"
              @click="selectedUser = user"
              v-if="selectedUser.key!= user.key">Edit</button>

            <button class="edit" @click="updateUser()" v-else>Done</button>
          </td>
          <td>
            <button class="delete" @click="deleteRecord(user.key)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import database from "@/services/database";
export default {
  name: "home",

  data() {
    return {
      name: "Home component",
      users: [],
      newUser: { username: "", email: "" },
      databaseRef: null,
      selectedUser: {} //for update/edit operation
    };
  },
  mounted: function() {
    if(this.$store.state.currentUser){
    var self = this;
    // each time the vuejs is mounted this function will be called, for every change it will be called
    console.log("mounted");
    this.databaseRef = database.database().ref("users");

    this.databaseRef.on("value", function(snapshot) {
      //insert the entry from firebase database
      self.users = [];
      //here all object at firebase database will be available
      snapshot.forEach(childSnapshot => {
        console.log(childSnapshot.val());
        self.users.push({ key: childSnapshot.key, val: childSnapshot.val() });
      });
    });
    }
    else{
      this.$router.push('/signin')
    }
  },
  methods: {
    addNewUser: function() {
      console.log(this.newUser);
      this.databaseRef.push(this.newUser);
      this.newUser = {};
    },
    deleteRecord: function(key) {
      this.databaseRef.child(key).remove(); //delete the entry at firebase database
    },
    updateUser: function() {      //update/edit operation
      console.log(this.selectedUser);
      this.databaseRef.child(this.selectedUser.key).update(this.selectedUser.val);
      this.selectedUser ={};
    }
  }
};
</script>

<style type="text/css">
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f3f3f3;
}

#app {
  width: 960px;
  padding: 44px 22px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  background: #f9f9f9;
}

tr:nth-child(odd) {
  background: #fff;
}

tr:hover {
  background: #fffeee;
}

th {
  background: #0f7d73;
  color: #fff;
}

td,
th {
  padding: 9px;
  text-align: center;
}

input {
  padding: 5px;
  text-align: center;
}

input.edit {
  padding: 4px;
}

button.add {
  padding: 6px 44px;
  background: #009688;
  border: 1px solid #015049;
  color: #fff;
}

p.txtCenter {
  text-align: center;
}

.username,
.email {
  width: 255px;
}

button.edit {
  padding: 3px 6px;
  color: #fff;
  background: #68af00;
  border: 1px solid #007900;
  cursor: pointer;
}

button.delete {
  padding: 3px 6px;
  color: #fff;
  background: #dc5629;
  border: 1px solid #920000;
  cursor: pointer;
}
</style>