<template>
  <div>
    <h1>Profile</h1>
    <p v-if="currentUser">{{currentUser.email}}</p>
  </div>
</template>

<script>
export default{
    name: 'Profile',
    computed:{
        currentUser(){
            return this.$store.state.currentUser
        }
    }
}
</script>
