<!--<template>
  <div>
    <h1>Sign in</h1>
    <form >
      <div class="field">
        <input type="email" v-model="email" placeholder="Email" class="input" />
      </div>

      <div class="field">
        <input type="password" v-model="password" placeholder="Password" class="input" />
      </div>
      <button class="button is-primary" @click="signIn()">Sign in</button>
    </form>
    <div class="message is-danger" v-if="error">
        <div class="message-body">{{error}}</div>
    </div>
  </div>
</template> -->

<template>
  <div class="login">
    <div class="loginHeader">User Login</div>

    <div class="loginContainer">
      <table>
        <tr>
          <td>Username (email)</td>
          <td>:</td>
          <td>
            <input type="text" v-model="email" placeholder="Email" class="input" />
          </td>
        </tr>
        <tr>
          <td>Password</td>
          <td>:</td>
          <td>
            <input type="password" v-model="password" placeholder="Password" class="input" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <button class="addBtn" @click="signIn()">Login</button>
          </td>
        </tr>
      </table>
    </div>
     <div class="message is-danger" v-if="error">
        <div class="message-body">{{error}}</div>
    </div>
  </div>
</template>


<script>
import database from "@/services/database";
export default {
  name: "signin",
  data() {
    return {
      email: "",
      password: "",
      error: ""
    };
  },
  methods: {
    async signIn() {
      let result = await database.signIn(this.email, this.password);
      if (result.message) {
        this.eror = result.message;
      }
      else{
          console.log("User is signed in");
           this.$router.push('/')
      }
    }
  }
};
</script>