<!-- <template>
  <div>
    <h1>Sign up</h1>
    <form >
      <div class="field">
        <input type="email" v-model="email" placeholder="Email" class="input" />
      </div>

      <div class="field">
        <input type="password" v-model="password" placeholder="Password" class="input" />
      </div>
      <button class="button is-primary" @click="signUp()">Sign up</button>
    </form>
    <div class="message is-danger" v-if="error">
        <div class="message-body">{{error}}</div>
    </div>
  </div>
</template>-->
<template>
  <div class="login">
    <div class="loginHeader">User Login</div>

    <div class="loginContainer">
      <table>
        <tr>
          <td>Username (Email)</td>
          <td>:</td>
          <td>
            <input type="text" v-model="email" placeholder="Email" class="input" />
          </td>
        </tr>
        <tr>
          <td>Password</td>
          <td>:</td>
          <td>
            <input type="password" v-model="password" placeholder="Password" class="input" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <button class="addBtn" @click="signUp()">Sign up</button>
          </td>
        </tr>
      </table>
    </div>
     <div class="message is-danger" v-if="error">
        <div class="message-body">{{error}}</div>
    </div>
  </div>
</template>


<script>
import database from "@/services/database";
export default {
  name: "signup",
  data() {
    return {
      email: "",
      password: "",
      error: ""
    };
  },
  methods: {
    async signUp() {
      let result = await database.signUp(this.email, this.password);
      if (result.message) {
        this.eror = result.message;
      }
      else{
          console.log("User is created");
          this.$router.push('/');
      }
    }
  }
};
</script>